<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>Григорий Путин, резюме</title>
   <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>
<body>
    <div id="main">
        <div class="main_offset">
            <div id="top">
                <h1>Путин Григорий Александрович</h1>
                <h2>Руководитель проекта</h2>
                <div class = "main_text"> Киевская | Омск | Россия</div>
                <div class = "main_text">
                    <a href=”mailto:Grigoriy.putin@gmail.com”>
                        grigoriy.putin@gmail.com
                    </a> |
                    <a href=”tel:+79136162265”>
                        +7(913)616-22-65
                    </a>
                </div>
            </div>
            <div id="box_left">
                <img src="../images/logo.jpg" class="logo" />
                <h3>Навыки и Качества</h3>
                <div class="ability_text">Лидерство</div>
                <div class="progress">
                    <div class="bar" style="width: 70%"></div >
                 </div>
                <div class="ability_text">Коммуникативность</div>
                <div class="progress">
                    <div class="bar" style="width: 80%"></div >
                </div>
                <div class="ability_text">Креативность</div>
                <div class="progress">
                    <div class="bar" style="width: 60%"></div >
                </div>
                <div class="ability_text">Коммандная работа</div>
                <div class="progress">
                    <div class="bar" style="width: 80%"></div >
                </div>
                <div class="ability_text">Целеустремленность</div>
                <div class="progress">
                    <div class="bar" style="width: 80%"></div >
                </div>
                <div class="ability_text">Стрессоустойчивость</div>
                <div class="progress">
                    <div class="bar" style="width: 90%"></div >
                </div>
                <h3>Владение программами</h3>
                <div class="ability_text">MS Project</div>
                <div class="progress">
                    <div class="bar" style="width: 50%"></div >
                </div>
                <div class="ability_text">ЛОЦМАН :PLM</div>
                <div class="progress">
                    <div class="bar" style="width: 90%"></div >
                </div>
                <div class="ability_text">Agilent ADS</div>
                <div class="progress">
                    <div class="bar" style="width: 30%"></div >
                </div>
                <div class="ability_text">Altium Designer</div>
                <div class="progress">
                    <div class="bar" style="width: 80%"></div >
                </div>
            </div>
            <div id="box_right">
                <div class="offset">

                    <h3>О себе</h3>
                    <p class="main_text" align="justify"> Здравствуйте, <span> меня зовут Григорий.</span> В 2003г, после окончания ОмГТУ утсроился
                        на работу в Омский НИИ приборостроения, на должность инженера конструктора 3 категории.
                        За первые 7 лет карьеры на данном предприятии вырос в ведущего инженера-конструктора.
                        С 2012 года возглавляю сектор по разработке устройств усиления, суммирования,
                        ответвления КВ диапазона.</p>
                    <h3>Образование</h3>
                    <div class="main_text">1998 - 2003 гг</div>
                    <div class="main_text">Омский государственный технический университет.</div>
                    <div class="main_text">1988 - 1998 гг</div>
                    <div class="main_text">Средняя школа №54.</div>
                    <h3>Проффесиональные навыки</h3>
                    <p class="main_text" align="justify"> Планирование задач, подбор исполнителей
                        по уровню компетенций, определение направления развития, работа с заказчиками,
                        разарботка отчетов по этапам ОКР, разработка ЧТЗ на составные части.</p>
                    <h3>Опыт работы</h3>

                    <div class="main_text">2012-2017</div>
                    <div class="main_text">Начальник сектора, АО ОНИИП</div>
                    <div class="main_text">2010-2012</div>
                    <div class="main_text">Ведущий инженер конструктор АО ОНИИП</div>
                    <div class="main_text">2007-2010</div>
                    <div class="main_text">Инженер конструктор 1 кат., АО ОНИИП</div>

                    <h3>Рекомендатели</h3>
                    <p>
                    <div class="main_text">Богдановский Андрей Тимурович</div>
                    <div class="main_text">т. 8-800-200-6070</div>
                    </p>

                </div>
            </div>
        </div>    
        <div id="bottom"> </div>
    </div>
</body>
</html>

