<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>Григорий Путин, резюме</title>
   <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>
<body>
    <div class="main">
        <div class="main__offset">
            <div class="header">
                <h1 class="header__name">Путин Григорий Александрович</h1>
                <h2 class="header__proff">Руководитель проекта</h2>
                <div class = "header__contacts">
                Киевская | Омск | Россия <br>
                <a class="main__text" href=”mailto:Grigoriy.putin@gmail.com”> grigoriy.putin@gmail.com </a> |
                <a class="main__text" href=”tel:+79136162265”> +7(913)616-22-65 </a>
                </div>
             </div>
            <div class="logo-ability">
                <img src="../images/logo.jpg" alt="Фото не загрузилось. Учитель говорит альты должны быть" class="logo-ability__logo" />
                <div class="ability">
                    <h3 class="header__resume">Навыки и Качества</h3> <br>
                    <div class="ability__text">Лидерство</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 70%"></div >
                    </div>
                    <div class="ability__text">Коммуникативность</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 80%"></div >
                    </div>
                    <div class="ability__text">Креативность</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 60%"></div >
                    </div>
                    <div class="ability__text">Коммандная работа</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 80%"></div >
                    </div>
                    <div class="ability__text">Целеустремленность</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 80%"></div >
                    </div>
                    <div class="ability__text">Стрессоустойчивость</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 90%"></div >
                    </div>
                </div>
                <div class="ability">
                    <h3 class="header__resume">Владение программами</h3> <br>
                    <div class="ability__text">MS Project</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 50%"></div >
                    </div>
                    <div class="ability__text">ЛОЦМАН :PLM</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 90%"></div >
                    </div>
                    <div class="ability__text">Agilent ADS</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 30%"></div >
                    </div>
                    <div class="ability__text">Altium Designer</div>
                    <div class="ability__progress">
                        <div class="ability__bar" style="width: 80%"></div >
                    </div>
                </div>
            </div>
            <div class="personal-info">
                <div class="personal-info__offset">
                    <div class="personal-info__about">
                        <h3 class="header__resume">О себе</h3> <br>
                        <div class="main__text">
                            Здравствуйте, <span class="main__text-bold"> меня зовут Григорий</span>. В 2003г, после окончания ОмГТУ утсроился
                            на работу в Омский НИИ приборостроения, на должность инженера конструктора 3 категории.
                            За первые 7 лет карьеры на данном предприятии вырос в ведущего инженера-конструктора.
                            С 2012 года возглавляю сектор по разработке устройств усиления, суммирования,
                            ответвления КВ диапазона.
                        </div>
                    </div>
                    <div class="personal-info__education">
                        <h3 class="header__resume">Образование</h3> <br>
                        <div class="when">
                            1998/2003 гг
                        </div>
                        <div class="where">
                            Омский государственный технический университет.
                            <div class="main__text-bold"> Инженер Радиотехник</div>
                        </div>
                        <div class="when">
                            1988/1998 гг
                        </div>
                        <div class="where">
                            Средняя школа №54.
                            <div class="main__text-bold">Выпускник</div>
                        </div>
                    </div>
                    <div class="personal-info__prof-skills">
                        <h3 class="header__resume">Професcиональные навыки</h3> <br>
                        <div class="main__text"> Планирование задач, подбор исполнителей
                            по уровню компетенций, определение направления развития, работа с заказчиками,
                            разарботка отчетов по этапам ОКР, разработка ЧТЗ на составные части.</div>
                    </div>
                    <div class="personal-info__prof-epx">
                        <h3 class="header__resume">Опыт работы</h3> <br>
                        <div class="main__text-italic">2012-2017</div>
                        <div class="main__text-bold">Начальник сектора</div>
                        <div class="main__text">АО ОНИИП | www.oniip.ru </div>
                        <div class="main_space"> space </div>
                        <div class="main__text-italic">2010-2012</div>
                        <div class="main__text-bold">Ведущий инженер конструктор</div>
                        <div class="main__text">АО ОНИИП | www.oniip.ru </div>
                        <div class="main_space"> space </div>
                        <div class="main__text-italic">2007-2010</div>
                        <div class="main__text-bold">Инженер конструктор 1 категории</div>
                        <div class="main__text">АО ОНИИП | www.oniip.ru </div>
                    </div>
                    <div class="personal-info__reference">
                        <h3 class="header__resume">Рекомендатели</h3> <br>
                        <div class="right">
                            <div class="main__text-bold">Богдановский Тимур</div>
                            <div class="main__text-italic">Столяр / ОНИИП</div>
                            <div class="main__text">Т. 8-800-200-60-70 </div>
                            <div class="main__text">E. tbogdanovski@gmail.com </div>
                        </div>
                        <div class="left">
                            <div class="main__text-bold">Микоян Олег</div>
                            <div class="main__text-italic">Плотник / ОНИИП</div>
                            <div class="main__text">Т. 8-800-200-60-70 </div>
                            <div class="main__text">E. oleg.mikoyan@gmail.com </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="bottom-line"> </div>
    </div>
</body>
</html>

